Repository lemillermicrosoft/semantic-kernel, pull requests merged in 2023-05, with the labels that each got.

#12 Merge the UX changes and image generation model
  dotnet/SK-dotnet.sln
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanParser.cs
  dotnet/src/SemanticKernel.Abstractions/SkillDefinition/SKFunctionContextParameterAttribute.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextToImage/HuggingFaceTextToImage.cs
  dotnet/src/SemanticKernel/Connectors/HuggingFace/TextToImage/TextToImageRequest.cs
  dotnet/src/SemanticKernel/SkillDefinition/SKFunction.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapp/env.example
  samples/apps/copilot-chat-app/webapp/package.json
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-1.png
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-2.png
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-3.png
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-4.png
  samples/apps/copilot-chat-app/webapp/src/assets/bot-icons/bot-icon-5.png
  samples/apps/copilot-chat-app/webapp/src/components/adaptive-cards/AdaptiveCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/adaptive-cards/PeopleProfileCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/PluginsState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/plugins/pluginsSlice.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
  samples/dotnet/my-tutor-console/Skills/PDFFileSkill.cs
  samples/skills/QASkill/ContextQuery/skprompt.txt
Labels: kernel, .NET, kernel.core, samples

#15 UX polish and content moderation
  samples/apps/copilot-chat-app/webapi/Controllers/ContentModerationController.cs
  samples/apps/copilot-chat-app/webapi/Program.cs
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/Services/AzureContentModerator.cs
  samples/apps/copilot-chat-app/webapp/src/components/FileUploader.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatSessionMenu.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/services/ContentModerationService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useContentModerator.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useFile.ts
Labels: samples

#16 510 tutor evaluation
  samples/apps/copilot-chat-app/webapi/Controllers/BotController.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/LearningSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/StudySkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/StudySkill/ContinueLesson/config.json
  samples/apps/copilot-chat-app/webapi/Skills/StudySkill/ContinueLesson/skprompt.txt
  samples/apps/copilot-chat-app/webapi/Skills/StudySkill/CreateLessonTopics/skprompt.txt
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistory.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/sk-utilities.ts
  samples/apps/copilot-chat-app/webapp/src/libs/services/BotService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
Labels: samples

#18 Vivi/510 tutor/demo
  samples/apps/copilot-chat-app/webapi/.vscode/extensions.json
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/Model/ChatSource.cs
  samples/apps/copilot-chat-app/webapi/Services/AzureContentModerator.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapp/.gitignore
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatInput.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatResourceList.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatWindow.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useFile.ts
  samples/apps/copilot-chat-app/webapp/yarn.lock
Labels: samples

#19 515 blake rebase
  dotnet/src/Extensions/Planning.SequentialPlanner/SequentialPlanner.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/CopilotChatApi.csproj
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/AssistantSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/JsonSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/JsonSkill/SemanticSelect/config.json
  samples/apps/copilot-chat-app/webapi/Skills/JsonSkill/SemanticSelect/skprompt.txt
  samples/apps/copilot-chat-app/webapp/src/Constants.ts
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/semantic-kernel/sk-utilities.ts
Labels: kernel, .NET, samples

#20 👩‍💻 Improve document import and chat functionality
  samples/apps/copilot-chat-app/webapi/Controllers/DocumentImportController.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/Skills/OpenApiSkills/JiraSkill/openapi.json
Labels: samples

#21 Image generation: Get the Hugging Face API key from the UI.
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/Model/OpenApiSkillsAuthHeaders.cs
  samples/apps/copilot-chat-app/webapi/SemanticKernelExtensions.cs
Labels: samples

#23 UX: Fix alignment in chat message
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
Labels: samples

#24 Enable Content Moderator via app settings
  samples/apps/copilot-chat-app/webapi/Config/ContentModerationOptions.cs
  samples/apps/copilot-chat-app/webapi/Controllers/ContentModerationController.cs
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapi/FunctionLoadingExtensions.cs
  samples/apps/copilot-chat-app/webapi/ServiceExtensions.cs
  samples/apps/copilot-chat-app/webapi/Services/AzureContentModerator.cs
  samples/apps/copilot-chat-app/webapi/Skills/ChatSkill.cs
  samples/apps/copilot-chat-app/webapi/appsettings.json
  samples/apps/copilot-chat-app/webapp/src/App.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/chat-list/ChatListItem.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/services/ContentModerationService.ts
  samples/apps/copilot-chat-app/webapp/src/libs/useContentModerator.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/AppState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/app/appSlice.ts
Labels: samples

#25 Default content moderation feature flag to false
  samples/apps/copilot-chat-app/webapi/appsettings.json
Labels: samples

#26 Content Moderation UX: Blur violated image and one that is under analysis
  samples/apps/copilot-chat-app/webapi/Controllers/SemanticKernelController.cs
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatHistoryItem.tsx
  samples/apps/copilot-chat-app/webapp/src/components/chat/ChatRoom.tsx
  samples/apps/copilot-chat-app/webapp/src/libs/useChat.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/ChatState.ts
  samples/apps/copilot-chat-app/webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: samples
